%ic {
	font-family: "icomoon";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class*="_icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}
  


._icon-arrow-left:before {
	content: "\e900";
	color: #828282;
  }
  ._icon-arrow-left-white:before {
	content: "\e901";
	color: #fff;
  }
  ._icon-arrow-right:before {
	content: "\e902";
	color: #828282;
  }
  ._icon-arrow-right-white:before {
	content: "\e903";
	color: #fff;
  }
  