//====================================================================================================
.header {
	background: #000000;

	position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
	padding: 20px 0px;
	min-height: 44px;
	//transition: padding 0.3s ease 0s;
	// .header__container

	&._header-scroll {
		//background: rgba(43, 43, 43, 0.8);
		padding: 10px 0px 10px 0px;
		
		
	}

	&__container {
	}


	// .header__body

	&__body {
		color: #ffff;
		display: flex;
		align-items: center;
		
		
	}

	// .header__logo

	&__logo {
		position: relative;
		z-index: 95;
		@media (max-width: 991.98px) {
			flex-grow: 1;
			display: flex;
		    left: calc(50% - 30px);
			top: 0;
		}
		img {
			max-width: 100%;
		}
	}

	// .header__menu

	&__menu {
	}

	// .header__search

	&__search {
	}

	// .header__actin

	&__actin {
		display: flex;
		align-items: center;
		gap: 31px;
		@include adaptiveValue("gap", 31, 15,0,1920,1000);
	}

	// .header__login

	&__login {
		display: flex;
		gap: 12px;
		@media (max-width: 991.98px) {
			flex-direction: column;
			
		}
		
	}

	// .header__sign

	&__sign {
		font-family: 'Oswald';
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 1.50; /* 21/14 */
		text-transform: uppercase;
		white-space: nowrap;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			bottom: -5px;
			left: -5px;
			width: 0%;
			
			height: 2px;
			background: #EB5757;
			transition: all 0.3s ease 0s;
		}
		
		@media (any-hover:hover) {
			&:hover {
				&:hover:before {
					width: calc(100% + 10px);
				}
			}
		}
		@media (max-width: 991.98px) {
			font-size: 20px;
			display: flex;
			align-self: flex-end;
		}
	}

	// .header__basket

	&__basket {
		display: flex;
		align-items: center;
		//gap: 20px;
		flex-shrink: 0;
		@include adaptiveValue("gap",20, 10,0,1920,1000);
	}

	// .header__herts

	&__herts {
		flex-shrink: 0;
		@media (max-width: 991.98px) {
			display: none;
		}
		img {
			max-width: 100%;
		}
	}

	// .header__box

	&__box {
	}
}
.menu {
	flex-grow: 1;
	display: flex;
	@include adaptiveValue("margin-left", 617, 15,0,1920,1000);
	//margin-left: 617px;
	// .menu__icon
	margin-right: 15px;

	&__icon {
	}

	// .menu__body

	&__body {
		margin-right: 29px;
		@media (max-width: 991.98px) {
			position: fixed;
			top: 0px;
			left: -100%;//-100
			width: 100%;
			height: 100%;
			background: #7cb81c;
			background: #000000;
			transition: all 0.3s ease 0s;
			overflow: auto;
			display: flex;
			flex-direction: column;
			//align-items: center;
		
		}
		&::before {
			@media (max-width: 991.98px) {
				content: '';
				position: fixed;
				top: 0px;
				left: -100%;//-100
				padding: 34px 0px 34px;
	            min-height: 44px;
				width: 100%;
				background: #d82f2f;
				background: #000000;
				z-index: 2;
				transition: all 0.3s ease 0s;
			}
		}
		.menu-open & {
			left: 0;
	
			&::before {
				left: 0;
	
			}
		}
	}

	// .menu__list

	&__list {
		display: flex;
		font-family: 'Oswald';
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 1.50; /* 21/14 */
		text-transform: uppercase;
	
		column-gap: 28px;
		row-gap: 10px;
		flex-wrap: wrap;
			@media (max-width: 991.98px) {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			//text-align: center;
			
			padding: 100px 15px 30px 15px;
			flex-wrap: nowrap;
			font-size: 20px;
			
		}
	}

	// .menu__item

	&__item {
		
	}

	// .menu__link

	&__link {
		position: relative;
		&::before {
			content: '';
			position: absolute;
			bottom: -5px;
			left: -10px;
			width: 0%;
			
			height: 2px;
			background: #EB5757;
			transition: all 0.3s ease 0s;
		}
		
		@media (any-hover:hover) {
			&:hover {
				&:hover:before {
					width: calc(100% + 20px);
				}
			}
		}
	}
}
.icon-menu {
}
.search-header {
	display: flex;
	gap: 8px;
	align-items: center;
	position: relative;
	z-index: 95;

	// .search-header__icon

	&__icon {
		flex-shrink: 0;
		img {
			max-width: 100%;
		}
	}

	// .search-header__text

	&__text {
		font-family: 'Oswald';
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 1.50; /* 21/14 */
		text-transform: uppercase;
		@media (max-width: 991.98px) {
			display: none;
		}
	}
}
.box-header {
	display: flex;
	align-items: center;
	gap: 11px;
	// .box-header__basket

	&__basket {
		position: relative;
     
        span {
            position: absolute;
            width: 14px;
            height: 14px;
            background: #EB5757;
         
            top: 0px;
            right: 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            align-self: center;
			font-family: 'Oswald';
			font-style: normal;
			font-weight: 500;
			font-size: 10px;
			line-height: 1.8;
			text-align: center;
			letter-spacing: 0.2px;
        }
		img {
			max-width: 100%;
		}
	}

	// .box-header__column

	&__column {
		display: flex;
		flex-direction: column;
		@media (max-width: 991.98px) {
			display: none;
		}
	}

	// .box-header__text

	&__text {
	    font-family: 'Roboto Medium';
		font-size: 12px;
		line-height: 2.5;
		align-items: center;
		letter-spacing: 0.01em;
		white-space: nowrap;
		&:not(:last-child) {
		margin: 0px 0px -12px 0px;
		}
	}

	// .box-header__price

	&__price {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 700;
		font-size: 14px;
		line-height: 2.14;
		align-items: center;
		letter-spacing: 0.01em;
	}
}


//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: 991.98px) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(3);
			background-color: #fff;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}

